#head h1 {
    padding: 10px;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
}

row, .foot {
    background-color: rgb(37, 37, 37);
    min-height: 20vh;
    padding-top: 2%;
    padding-bottom: 2%;
}

#profile-pic {
    width: 40%;
    height: 40%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

#gitmark {
    padding-top: 2%;
}

a {
    text-decoration: none;    
}