body {
    text-align: center;
}

.row {
    padding-top: 12%;
    padding-bottom: 12%;
    min-height: 50vh;
}

#head {
    position: absolute;
    background-image: url("BackTexture.png");
    height: 100%;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0;
    color: white;
}

#head .col-sm-6 {
    top: 40%;
}

#head .col-sm-6 p {
    font-size: 20px;
}

#head h1 {
    padding: 10px;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
}

.container-fluid {
    position: absolute;
    top: 100%;
}

.col-sm-8 {
    padding-top: 3%;
}

.col-sm-8 p{
    padding-left: 5%;
    padding-right: 5%;
}

.glyphicon {
    padding: 5%;
    font-size: 100px;
}

.c1 {
    background-color: rgba(245, 245, 245, 0.93);
}

.c2 {
    background-color: rgba(240, 206, 204, 0.84);
}

.c3 {
    background-color: rgba(199, 172, 141, 0.93);
}

row, .foot {
    background-color: rgb(37, 37, 37);
    min-height: 20vh;
    padding-top: 2%;
    padding-bottom: 2%;
}

#profile-pic {
    width: 40%;
    height: 40%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

ul {
    display: inline-block;
    list-style: disc;
    text-align: left;
    vertical-align: middle;
    padding-right: 5%;
}

li {
    font-size: 18px;
    text-indent: 5px;
}

#gitmark {
    padding-top: 2%;
}

a {
    text-decoration: none;    
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    outline: 1px solid slategrey;
}

body::-webkit-scrollbar-track-piece{
    background-color: rgba(0, 0, 0, 0.2);
}
